.App {
  text-align: left;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  text-decoration: none;
  color: white;
}

.App-link {
  color: #61dafb;
}

#hiden {
  display: none;
}

.input-col {
  width: 100%;
  display: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.input-col input {
  margin: 10px;
}

.btn {
  width: auto;
  margin: 0 10px;
  font-weight: bold;
  border: 1px solid black;
}
